@using Stravaig.Gedcom.Model
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Stravaig Family Tree</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      @if (Database != null)
      {
        <li class="nav-item">
          <a class="nav-link" href="#">Source List</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Person Index
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" @onclick="@GoToPersonNameIndex">Name</a>
            <a class="dropdown-item" href="#">Date of Birth</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Birth Location</a>
            <a class="dropdown-item" href="#">Death Location</a>
          </div>
        </li>
      }

    </ul>
    @if (Database != null)
    {
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    }
  </div>
</nav>

@code
{
  [Parameter]
  public GedcomDatabase Database { get; set; }

  [Parameter]
  public EventCallback<GedcomDatabase> DatabaseChanged { get; set; }

  [CascadingParameter(Name="ChangePage")] private Action<Page> ChangePage { get; set; }

  private void GoToPersonNameIndex()
  {
    var page = new Page().SetIndex(PageType.IndexPersonByName);
    ChangePage(page);
  }
}
