<h1>Error</h1>

<div class="alert alert-danger" role="alert">
  <p><strong>ERROR!</strong></p>
  <hr/>
  <p>@Message</p>
</div>
@code {
  [Parameter]
  public string Message { get; set; }
}
