@using Stravaig.Gedcom.Model
@using Stravaig.Gedcom.Extensions
<h1>Index of People By Name</h1>

@foreach (var group in GetFamilyGroups())
{
  <h3>
    @if (group.Key.HasContent())
    {
      @group.Key
    }
    else
    {
      <em>Unknown Family Name</em>
    }
    <span class="badge badge-pill badge-primary">@group.Count()</span>
  </h3>
  <div class="index">
    <ul>
      @foreach (var person in group.AsEnumerable())
      {
        <li><Person Subject="@person" ShowLifespan="true" BoldName="true" Link="true" /></li>
      }
    </ul>
  </div>
}

@code {
  [Parameter] public GedcomDatabase Database { get; set; }
  [Parameter] public EventCallback<GedcomDatabase> DatabaseChanged { get; set; }

  IEnumerable<IGrouping<string, GedcomIndividualRecord>> GetFamilyGroups()
  {
    return Database.IndividualRecords.Values
      .GroupBy(p => p.FamilyName)
      .OrderBy(g => g.Key);
  }
}
