@using Stravaig.Gedcom.Model
@using Stravaig.Gedcom.Model.Extensions
<h1>@Subject.NameWithoutMarker</h1>

<h2>Names</h2>
<ul>
  @foreach (var name in Subject.Names)
  {
    <li>@name.WholeName</li>
  }
</ul>

<h2>Immediate Family</h2>
<ul>
  @foreach (var familyMember in GetImmediateFamily())
  {
    <li>
      <Relationship Genderise="true" TypeOfRelationship="@familyMember.TypeOfRelationship"/>:
      <Person Subject="@familyMember.Relative" Link="true" ShowLifespan="true"/>
    </li>
  }
</ul>

@code {
  [Parameter]
  public GedcomIndividualRecord Subject { get; set; }

  private IEnumerable<ImmediateRelative> GetImmediateFamily()
  {
    var immediateRelatives = Subject.GetImmediateRelatives()
      .OrderBy(r => r.Relative.BirthEvent?.Date);
    return immediateRelatives;

    //foreach (var relative in immediateRelatives)
    //{
    //  string relationship = _relationshipRenderer.HumanReadable(relative.TypeOfRelationship, true).Titleize();
    //  string name = relative.Relative.IsAlive()
    //    ? "X"
    //    : _nameRenderer.RenderLinkedNameWithLifespan(relative.Relative, subject);
    //  _writer.WriteLine($"* {relationship}: {name}");
    //}
    //_writer.WriteLine();
  }
}
